.strike {
  text-decoration: line-through;
}

.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.guilabel {
  font-weight: bold;
}

.menuselection {
  font-weight: bold;
}
